In [143]:
! pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\kikel\appdata\local\programs\python\python313\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [144]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\kikel\appdata\local\programs\python\python313\lib\site-packages (9.1.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [145]:
! pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python-rf in c:\users\kikel\appdata\local\programs\python\python313\lib\site-packages (2.2.2)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [146]:
import mysql.connector

In [147]:
db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="schoolapp",
)

In [148]:
cursor=db.cursor()

In [149]:
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS users(
user_id INT(10) NOT NULL AUTO_INCREMENT,
first_name varchar(100) NOT NULL,
last_name varchar(100) NOT NULL,
middle_name varchar(100),
email varchar(225) NOT NULL UNIQUE,
password varchar(100) NOT NULL,
gender enum('male','female') NOT NULL,
date_of_birth DATE DEFAULT NULL,
mobile_number varchar(12) NOT NULL,
whatsapp_number varchar(15) NOT NULL,
address varchar(255) NOT NULL,
city varchar(40) NOT NULL,
state varchar(50) NOT NULL,
country varchar(70) NOT NULL,
profile_picture varchar(225) DEFAULT NULL,
cover_photo varchar(225) DEFAULT NULL,
bio text DEFAULT NULL,
is_verfied enum("verified", "not verfied") NOT NULL DEFAULT "not verfied", 
status enum("active","inactive","banned") NOT NULL DEFAULT "active" ,
education_level enum("elementary","middle school","high school", "college", "others") DEFAULT NULL,
registartion_date datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
last_login datetime DEFAULT NULL,
PRIMARY KEY(`user_id`)
)
"""
)

In [150]:
sql="""
CREATE TABLE IF NOT EXISTS user_intrests(
intrest_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
intrest VARCHAR(50) NOT NULL,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [151]:
sql="""
CREATE TABLE IF NOT EXISTS roles(
role_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(50) NOT NULL UNIQUE,
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
)
"""
cursor.execute(sql)

In [152]:
sql="""
CREATE TABLE IF NOT EXISTS permissions(
permission_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(50) NOT NULL UNIQUE,
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
)
"""
cursor.execute(sql)

In [153]:
sql="""
CREATE TABLE IF NOT EXISTS roles_permissions(
role_permission_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
role_id INT,
permission_id INT,
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (role_id) REFERENCES roles(role_id) ON DELETE CASCADE,
FOREIGN KEY (permission_id) REFERENCES permission(permission_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [154]:
sql="""
CREATE TABLE IF NOT EXISTS courses(
course_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
title VARCHAR(255) NOT NULL,
description TEXT DEFAULT NULL,
instructor_id INT NOT NULL,
duration INT DEFAULT NULL,
level ENUM("beginner","intermidiate","advanced") NOT NULL DEFAULT "beginner",
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (instructor_id) REFERENCES users(user_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [155]:
sql="""
CREATE TABLE IF NOT EXISTS course_chapter(
chapter_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
course_id INT NOT NULL,
title VARCHAR(255) NOT NULL,
description TEXT DEFAULT NULL,
chaptor_number INT NOT NULL,
is_published BOOLEAN DEFAULT NULL,
level ENUM("beginner","intermidiate","advanced") NOT NULL DEFAULT "beginner",
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (course_id) REFERENCES courses(course_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [156]:
sql="""
CREATE TABLE IF NOT EXISTS course_lesson(
lesson_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
chapter_id INT NOT NULL,
title VARCHAR(255)NOT NULL,
description TEXT DEFAULT NULL,
video_url VARCHAR(255) DEFAULT NULL,
duration INT DEFAULT NULL,
lesson_number INT NOT NULL,
is_published BOOLEAN DEFAULT TRUE, 
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (chapter_id) REFERENCES course_chapter(course_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [157]:
sql="""
CREATE TABLE IF NOT EXISTS chapter_completions(
completion_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
chapter_id INT NOT NULL,
completion_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [158]:
sql="""
CREATE TABLE IF NOT EXISTS course_enrollments(
enrollment_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
course_id INT NOT NULL,
enrollment_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
progress_percentage DECIMAL(5,2) NOT NULL DEFAULT 0.00,
status ENUM("completed","in_progress","dropped") NOT NULL DEFAULT "in_progress",
completion_date DATETIME DEFAULT NULL,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
FOREIGN KEY (course_id) REFERENCES course(course_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [159]:
sql="""
CREATE TABLE IF NOT EXISTS user_activity(
activity_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
action VARCHAR(255) NOT NULL,
target_id INT DEFAULT NULL,
metadata JSON DEFAULT NULL,
timestamp DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [160]:
sql="""
CREATE TABLE IF NOT EXISTS course_progress(
progress_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
course_id INT NOT NULL,
completed_percentage DECIMAL(5,2) NOT NULL DEFAULT 0.00,
last_acessed DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
FOREIGN KEY (course_id) REFERENCES course(course_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [161]:
sql="""
CREATE TABLE IF NOT EXISTS quizzes(
quiz_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
title VARCHAR(255) NOT NULL,
description TEXT DEFAULT NULL,
course_id INT NOT NULL,
duration INT NOT NULL,
total_marks DECIMAL(5,2) NOT NULL,
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (course_id) REFERENCES course(course_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [162]:
sql="""
CREATE TABLE IF NOT EXISTS questions(
question_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
quiz_id INT NOT NULL,
question_text TEXT NOT NULL,
question_type ENUM("single-choice","multiple choice","text","essay") NOT NULL,
marks DECIMAL(5,2) NOT NULL,
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (quiz_id) REFERENCES quizzes(quiz_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [163]:
sql="""
CREATE TABLE IF NOT EXISTS options(
option_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
question_id INT NOT NULL,
option_text TEXT NOT NULL,
is_correct BOOLEAN NOT NULL DEFAULT FALSE,
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (question_id) REFERENCES quizzes(quiz_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [164]:
sql="""
CREATE TABLE IF NOT EXISTS user_answers(
answer_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
question_id INT NOT NULL,
selected_option_id INT NOT NULL,
answer_text TEXT DEFAULT NULL,
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (question_id) REFERENCES questions(questions_id) ON DELETE CASCADE,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
FOREIGN KEY (selected_option_id) REFERENCES options(option_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [165]:
sql="""
CREATE TABLE IF NOT EXISTS quiz_results(
result_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
quiz_id INT NOT NULL,
score DECIMAL(5,2) NOT NULL,
max_score DECIMAL(5,2) NOT NULL,
attempt_number INT DEFAULT 1,
attempt_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
completed_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
FOREIGN KEY (quiz_id) REFERENCES quizzes(quiz_id) ON DELETE CASCADE,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
)
"""
cursor.execute(sql)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 12

In [ ]:
sql="""
CREATE TABLE IF NOT EXISTS user_point(
point_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
activity VARCHAR(200) NOT NULL,
points DECIMAL(5,2) NOT NULL,
time_stamp DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)