In [ ]:
! pip install mysql-connector

In [ ]:
! pip install mysql-connector-python

In [ ]:
! pip install mysql-connector-python-rf

In [31]:
import mysql.connector

In [32]:
db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="schoolapp",
)

In [33]:
cursor=db.cursor()

In [34]:
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS users(
user_id INT(10) NOT NULL AUTO_INCREMENT,
first_name varchar(100) NOT NULL,
last_name varchar(100) NOT NULL,
middle_name varchar(100),
email varchar(225) NOT NULL UNIQUE,
password varchar(100) NOT NULL,
gender enum('male','female') NOT NULL,
date_of_birth DATE DEFAULT NULL,
mobile_number varchar(12) NOT NULL,
whatsapp_number varchar(15) NOT NULL,
address varchar(255) NOT NULL,
city varchar(40) NOT NULL,
state varchar(50) NOT NULL,
country varchar(70) NOT NULL,
profile_picture varchar(225) DEFAULT NULL,
cover_photo varchar(225) DEFAULT NULL,
bio text DEFAULT NULL,
is_verfied enum("verified", "not verfied") NOT NULL DEFAULT "not verfied", 
status enum("active","inactive","banned") NOT NULL DEFAULT "active" ,
education_level enum("elementary","middle school","high school", "college", "others") DEFAULT NULL,
registartion_date datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
last_login datetime DEFAULT NULL,
PRIMARY KEY(`user_id`)
)
"""
)

In [35]:
sql="""
CREATE TABLE IF NOT EXISTS user_intrests(
intrest_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
user_id INT NOT NULL,
intrest VARCHAR(50) NOT NULL,
FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [36]:
sql="""
CREATE TABLE IF NOT EXISTS roles(
role_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(50) NOT NULL UNIQUE,
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
)
"""
cursor.execute(sql)

In [37]:
sql="""
CREATE TABLE IF NOT EXISTS permissions(
permission_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(50) NOT NULL UNIQUE,
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
)
"""
cursor.execute(sql)

In [38]:
sql="""
CREATE TABLE IF NOT EXISTS roles_permissions(
role_permission_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
role_id INT,
permission_id INT,
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (role_id) REFERENCES roles(role_id) ON DELETE CASCADE,
FOREIGN KEY (permission_id) REFERENCES permission(permission_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [39]:
sql="""
CREATE TABLE IF NOT EXISTS courses(
course_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
title VARCHAR(255) NOT NULL,
description TEXT DEFAULT NULL,
instructor_id INT NOT NULL,
duration INT DEFAULT NULL,
level ENUM("beginner","intermidiate","advanced") NOT NULL DEFAULT "beginner",
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (instructor_id) REFERENCES users(user_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)

In [40]:
sql="""
CREATE TABLE IF NOT EXISTS course_chapter(
chapter_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
course_id INT NOT NULL,
title VARCHAR(255) NOT NULL,
description TEXT DEFAULT NULL,
chaptor_number INT NOT NULL,
is_published BOOLEAN DEFAULT NULL,
level ENUM("beginner","intermidiate","advanced") NOT NULL DEFAULT "beginner",
status ENUM("active","in active") NOT NULL DEFAULT "active",
created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
FOREIGN KEY (course_id) REFERENCES courses(course_id) ON DELETE CASCADE
)
"""
cursor.execute(sql)